.header {
  text-align: left;
  margin-top: 100px;
}

.header__title {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 740px) {
  .header {
    margin-top: 50px;
  }
  .header__title {
    font-size: 36px;
  }
}

@media (max-width: 440px) {
  .header {
    margin-top: 20px;
  }
}