.event-card {
  width: 600px;
  height: 400px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: no-repeat center / cover;
}

.event-card__header {
  display: flex;
  justify-content: space-between;
}

.event-card__date {
  border: 2px solid white;
  border-radius: 6px;
  width: 80px;
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card__datename {
  margin: 0;
  color: white;
  font-size: 48px;
}

.event-card__favorites-button {
  width: 16px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.5s ease-out, background-image 0.5s ease-out;
}

.event-card__favorites-button:hover {
  opacity: 0.8;
}

.event-card__title {
  margin: 0;
  color: white;
  text-align: left;
  font-size: 48px;
  font-weight: 900px;
}

@media (max-width: 1320px) {
  .event-card {
    width: calc((100vw - 120px) / 2);
    height: calc((100vw - 120px) / 6 * 2);
  }
}

@media (max-width: 1080px) {
  .event-card {
    width: calc(100vw - 80px);
    height: calc((100vw - 80px) / 3 * 2);
  }

}

@media (max-width: 740px) {
  .event-card {
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) / 3 * 2);
  }
  .event-card__date {
    width: 60px;
    height: 60px;
  }
  .event-card__datename {
    font-size: 36px;
  }
  .event-card__title {
    font-size: 36px;
  }
}

@media (max-width: 440px) {
  .event-card {
    padding: 20px;
  }
  .event-card__date {
    width: 40px;
    height: 40px;
  }
  .event-card__datename {
    font-size: 24px;
  }
  .event-card__title {
    font-size: 24px;
  }
}