@import url(./vendor/fonts/fonts.css);

body {
  max-width: 1240px;
  margin: 0 auto;
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
