@import url(./vendor/fonts/fonts.css);

body {
  max-width: 1240px;
  margin: 0 auto;
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1320px) {
  body {
    width: calc(100vw - 80px);
  }
}

@media (max-width: 740px) {
  body {
    width: calc(100vw - 40px);
  }
}